body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: black;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores {
    display: flex;
    align-items: center;
}

.welcome {
    margin: 50px;
    margin-bottom: 20px;
    font-size: 75px;
}

.explain {
    margin: 30px;
    font-size: 40px;
}

.buttons {
    display: flex;
    margin: 40px;
    justify-content: space-between;
    
}

#Rock {
    margin: 15px;
    background-color: grey;
    font-weight: bolder;
    height: 150px;
    width: 150px;
    font-size: 25px;
}

#Paper {
    margin: 15px;
    background-color: grey;
    font-weight: bolder;
    height: 150px;
    width: 150px;
    font-size: 25px;
}

#Scissors {
    margin: 15px;
    background-color: grey;
    font-weight: bolder;
    height: 150px;
    width: 150px;
    font-size: 25px;
}

.player_score {
    margin: 7.5px;
    font-size: 25px;
}

.computer_score {
    margin: 7.5px;
    font-size: 25px;
}